@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,700,900);

input[type=submit]{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
    background-color: #00aeef;
    outline: solid #ffffff;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 6px 2px;
    cursor: pointer;
    width: 55%;
}

input[type=submit]:hover{
    border: solid #e51937;
}

body {
    font-family: 'Fira Sans', sans-serif;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    background-image: url(images/bubbles.gif);

}

h1 {
    font-size: 45pt;
}

h2 {
    margin-top: -30px;
    font-size: 27pt;
}

.homepage-beer {

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

p {
    font-size: 20px;

}

p.details-name {

    font-size: 40px;
    font-weight: bolder;
    margin-bottom:  10px;
}

.detailpage-beer img {

    padding-top: 0px;
    height: 200px;
    width: auto;

}

.detail-items p{

    padding-top: -20px;
    margin: 10px;
}

