@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,700,900);

input[type=submit]{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
    background-color: #00aeef;
    outline: solid #ffffff;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 6px 2px;
    cursor: pointer;
    width: 55%;
}

input[type=submit]:hover{
    border: solid #e51937;
}


.homepage-beer {
    display: block;
    padding-bottom: 10px;
    margin-left: 500px;
    margin-right: 500px;
}

.searchButton{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
    background-color: #00aeef;
    outline: solid #ffffff;
    border: none;
    color: white;
    padding: 2px 10px;
    text-decoration: none;
    margin: 6px 2px;
    cursor: pointer;
    width: 55%;
}

.searchButton:hover{
    border: solid #e51937;
}

body {
    font-family: 'Fira Sans', sans-serif;
    margin-top: 20px;
    text-align: center;
    background-image: url(images/bubbles.gif);

}

.breweryList{
    margin-left: 200px;
    margin-right: 200px;
}

input[type=text] {
    font-family: 'Fira Sans', sans-serif;
    color: #00adf2;
    text-align: center;
    font-size: 1em;
    border: solid #00adf2;
    display: block;
    height: 5%;
    width: 100%;
}

.searchContainer{
}

h1 {
    font-size: 45pt;
}

h2 {
    margin-top: -30px;
    font-size: 27pt;
}

.container{
    text-align: left;
}

.homeButton{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
    background-color: #00aeef;
    outline: solid #ffffff;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 6px 2px;
    cursor: pointer;
}

.backButton{
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 1em;
    background-color: #00aeef;
    outline: solid #ffffff;
    border: none;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    margin: 6px 2px;
    cursor: pointer;
}

.backButton:hover{
    border: solid #e51937;
}

.homeButton:hover{
    border: solid #e51937;
}

p {
    font-size: 20px;

}

p.details-name {

    font-size: 40px;
    font-weight: bolder;
    margin-bottom:  10px;
}

.detailpage-beer img {

    padding-top: 0px;
    height: 200px;
    width: auto;

}

.detail-items p{

    padding-top: -20px;
    margin: 10px;
}

