<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/app.css}" />
    <meta charset="UTF-8"/>
    <title>Brewery Name Here</title>
</head>

<body>
<p>Address:</p>
<p th:text="${breweryDetails.getStreet()}"></p>
<p th:text="${breweryDetails.getCity()} + ', ' + ${breweryDetails.getState()} + ' ' + ${breweryDetails.getPostalCode()}"></p>
<p>Phone Number: </p>
<p th:text="${breweryDetails.getPhone()}"></p>
<a th:href="${breweryDetails.getWebsiteUrl()}" th:text="${breweryDetails.getWebsiteUrl()}"></a>

<br>
<a th:href="'list?stateName=' + ${breweryDetails.getState()}">Back to List</a>

</body>
</html>