<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="headerFragment">
    <link rel="stylesheet" th:href="@{/app.css}" />
    <meta charset="UTF-8"/>
    <div th:each="BreweryDetails : ${breweries}">
    <title th:text="${BreweryDetails.getState()}"></title>
    </div>
</head>
<body>
    <div th:each="BreweryDetails : ${breweries}">
        <form action="details" method="get">
        <input type="submit" th:value="${BreweryDetails.getName()}" class="breweryButton">
            <input type="hidden" name="breweryId" th:value="${BreweryDetails.getId()}"/>
        </form>
    </div>
</body>
</html>